/* font-family: surin;
font-family: ream;
font-family: kizerd;
font-family: remuz;
font-family: besdong; 
font-family: medin;*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff7e9;
}
.Nav {
	background-color: #2c83fd;
}

ul {
	list-style: none;
	overflow: hidden;
	display: block;
	margin-left: 28%;
}
li a {
	float: left;
	padding: 20px;
	font-family: kizerd;
	font-size: 1rem;
	text-decoration: none;
	color: #ffffff;
	transition: 0.3s;
}
li a:hover {
	color: #ff731d;
	background-color: #eafdfc;
}
.dec {
	margin-left: 10%;
	margin-right: 10%;
	font-family: remuz;
	text-align: justify;
}
.dec h1 {
	font-size: 3rem;
	font-family: medin;
	text-align: center;
	padding: 4rem;
	color: #eb6440;
}
h1 span {
	color: #497174;
}
.dec h2 {
	color: #1746a2;
	padding-top: 0.75rem;
	font-family: ream;
	margin-left: 1rem;
}
.FOOT1 {
	margin-top: 2.5rem;
	padding: 5rem;
	background-color: #ff731d;
	font-family: remuz;
}
.FOOT1 img {
	width: 250px;
	margin-top: -55px;
	margin-left: -50px;
}
.FOOT1 span,
a {
	color: #eafdfc;
	text-decoration: none;
}
.FOOT1 .LogoFb {
	width: 40px;
	margin-bottom: -4.5rem;
	margin-left: -140px;
}
.FOOT2 {
	padding: 2.5rem;
	background-color: #497174;
	font-family: medin;
	text-align: center;
	color: #4c4d4d;
}
@media (max-width: 600px){
	ul {
		list-style: none;
		overflow: hidden;
		display: block;
		margin-left: 1.5rem;
	}
	li a {
		float: left;
		padding: 0.5rem;
		font-size: 0.75rem;
	}
	.dec h1 {
		font-size: 1.5rem;
		padding: 2rem;
	}
}